<h2>Show</h2>

<div class="flat">
  <p>Owner: <span><%= @flat.user.name %></span></p>
  <p>Address: <span><%= @flat.address %></span></p>
  <p>Description: <span><%= @flat.description %></span><p>
</div>
