<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url "airstream.png" %>');">
  <div class="banner-content">
    <h1>Stay Elsewhere</h1>
    <p>welcome to Railsbnb...</p>
    <a class="btn btn-primary btn-lg" href="<%= flats_path %>">Find your new home</a>
  </div>
</div>

<div class="text-centered">
<h2>Great Life Stories Start here</h2>
</div>

<div class="wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.graydonkey.com/img/cool/as-the-old-song-says-heaven-is-a-place-on-earth/as-the-old-song-says-heaven-is-a-place-on-earth01.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatars/128/Angel-icon.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.aseascape.com/images/tents_223.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatars/128/Angel-icon.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.aseascape.com/images/pan3b.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="http://icons.iconarchive.com/icons/hopstarter/halloween-avatars/128/Angel-icon.png">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

  </div>
</div>

